/* Styling for IngredientList */
.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0.5rem;
  /* Add some space above the list */
}

.noIngredients {
  color: #777;
  font-style: italic;
  margin-top: 0.5rem;
}
