@import "tailwindcss";

:root {
  --background: #f9fafb;
  /* Slightly off-white background */
  --foreground: #1f2937;
  /* Dark gray text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    /* Darker background for dark mode */
    --foreground: #f3f4f6;
    /* Lighter gray text for dark mode */
  }
}

/* Basic Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}
